<script src="calendar.js"></script>
<div class="form">
    <div ng-controller="formController">
        <div class="font" style="padding-left:5%;">
            <h2>Złóż rezerwację</h2>
            <form ng-submit="reserve()">
                <div class="myform-group">
                    <label for="firstName">Imie:</label>
                    <input
                            name="firstName"
                            class="form-control"
                            id="firstName"
                            type="text"
                            ng-model="firstName"
                            required/>
                </div>
                <div class="myform-group">
                    <label for="lastName">Nazwisko:</label>
                    <input
                            name="lastName"
                            class="form-control"
                            id="lastName"
                            type="text"
                            ng-model="lastName"
                            required/>
                </div>
                <div class="myform-group">
                    <label for="roomAmount">Liczba pokoi:</label>
                    <input
                            name="roomAmount"
                            class="form-control"
                            id="roomAmount"
                            type="number"
                            ng-model="roomAmount"
                            min="1"
                            required/>
                </div>
                <div class="myform-group">
                    <label for="adults">Liczba doroslych:</label>
                    <input
                            name="adults"
                            class="form-control"
                            id="adults"
                            type="number"
                            ng-model="adults"
                            min="0"
                            required/>
                </div>
                <div class="myform-group">
                    <label for="children">Liczba dzieci:</label>
                    <input
                            name="children"
                            class="form-control"
                            id="children"
                            type="number"
                            ng-model="children"
                            min="0"
                            required/>
                </div>
                <div class="myform-group">
                    <label for="telephoneNumber">Numer telefonu:</label>
                    <input
                            name="telephoneNumber"
                            class="form-control"
                            id="telephoneNumber"
                            type="text"
                            ng-model="telephoneNumber"
                            ng-pattern="regexphone"
                            required/>
                </div>
                <div class="myform-group">
                    <label for="email">Email:</label>
                    <input
                            name="email"
                            class="form-control"
                            id="email"
                            type="email"
                            ng-model="email"
                            required/>
                </div>
                Początek pobytu:
                <div class="container-fluid" style="margin:0;max-width: 700px">
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" ng-model="beginDate" required/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                Koniec pobytu:
                <div class="container-fluid" style="margin:0;max-width: 700px">
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" ng-model="endDate" required/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Rezerwuj"/>
                    <button class="btn btn-default" type="reset">Wyczyść</button>
                </div>
            </form>
        </div>
    </div>
</div>
