<!DOCTYPE html>
<html lang="pl-PL">
<script src="angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="autocomplete.js"></script>
<link rel="stylesheet" href="autocomplete.css">
   <meta charset="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
	<div ng-app="myApp">
	   <div class="transbox">
	   <div ng-controller="ctrlAutoComplete">
			<div ng-init="welcome()">Będę szukał hotelów w {{city}}</div>
			<input type="text" g-places-autocomplete ng-model="city"/>
			<button ng-click="search()">Szukaj</button>
	   </div>
	   </div>
	</div>
<script src="controller.js"></script>
</body>
</html>